@import "mobile";
@import "screen";
body {
    overflow: hidden;
    a:hover {
        color: white;
        text-decoration: none;
    }
}

.text {
    &-white {
        color: white;
    }
    &-yellow {
        color: #FCCE0B;
    }
}